/* ------------------------------------------------------- COLOURS */

:root {
  --white-smoke: #f5f6f4; /* background */
  --jet-black: #2d3142; /* font */
  --alabaster-grey: #dee2e6; /* borders */
  --platinum: #F3F4F6; /* light select colour */

  --parchment: #edece8; /* unselected tabs */
  --dark-teal: #154c51; /* buttons and nav links */
  --velvet-orchid: #803181; /* active nav links */
  --royal-orchid: #802392;

  --dusk-blue: #4e598c; /* 78, 89, 140 */
  --glaucous: #7d82b8; /* tables - use rgba 125, 130, 184 */
  --hot-rose: #ba2c73; /* hover text and icons? */
  --neon-pink: #ff006e; /* hover text and icons? */
  --bright-peony: #fb62f6;
  --magenta-bloom: #e83f6f;
  --verdigris1: #1ea896;
  --verdigris2: #00a896;

  /* Forms */
  --crayola-blue: #3777ff; /* save buttons? */
  --pumpkin-spice: #ff8c42;
  --charcoal: #525669; /* cancel button 82, 86, 105 */
  --baltic-blue: #035e7b; /* 3, 94, 123 */

  /* plant colours */
  --faded-copper: #a07e63;
  --lime-moss: #7fb241;

  /* reds and greens */
  --brown-red: #9f1d1d;
  --green: #2e7d32;

  --success-green: #4caf50;
  --spicy-paprika: #ec4e20;

  --cherry-rose: #ab1861;
  --olive-leaf: #175e0c;

  /* unused - possible */
  --brown: #615449;
  --vintage-greape: #564256;
  --blackberry-cream: #59344f;
  --oxford-navy: #0f375e;
  --silver: #b9bbbd;

  --sage-green: #60992d;
  --rapberry-plum: #a80874;
}

/* ------------------------------------------------------- BOOTSTRAP COLOURS */
:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

/* ------------------------------------------------------- Hover.css */

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: white;
}

/* ------------------------------------------------------- General */

body {
  background-color: var(--white-smoke);
  color: var(--jet-black);
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------------------------------------- NAVBAR */

h1{
  font-weight: 400;
}

.navbar-brand > img {
  margin-bottom: 1rem;
  height: 35px;
}

.nav-tabs {
  background-color: var(--parchment);
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-link {
  color: var(--dark-teal);
  font-weight: 500;
  padding-left: 0.575rem;
  padding-right: 0.575rem;
}

.nav-tabs .nav-link.active {
  background-color: white;
  border-color: var(--alabaster-grey);
  border-bottom: white 1px solid;
  color: var(--velvet-orchid);
}

.nav-link:hover,
.fa-gear:hover,
.nav-link.active:hover {
  color: var(--bs-orange);
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 1rem;
    max-height: 75px;
  }

  .navbar-brand > img {
    /*padding-bottom: 1.25rem;*/
    margin-bottom: 1.25rem;
  }
}

/* ------------------------------------------------------- Tables */

.scrollable-table {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

table {
  --bs-table-hover-bg: rgba(237, 236, 232, 0.4) !important; /* parchment */
  border-left: 1px solid var(--alabaster-grey);
  border-right: 1px solid var(--alabaster-grey);
  table-layout: fixed;
}

th,
td {
  width: 16vw;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    max-width: 98.5%;
  }

  .table {
    border-top: 1px solid var(--alabaster-grey) !important;
  }

  th,
  td {
    width: 9vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 96%;
  }

  th,
  td {
    width: 7vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 97%;
  }

  th,
  td {
    width: 7vw;
  }
}

/* ------------------------------------------------------- Overview Section */

tr.paydateRow > th,
tr.paydateRow > td,
th#budgetYear {
  height: 7.5vh;
}

.category-column {
  border-right: 2px solid var(--parchment) !important;
  font-size: 0.95rem;
  font-weight: 600;
  width: 28vw;
}

.budget-col {
  text-align: center;
  text-wrap: nowrap;
}

span.payDateFrequency {
  color: var(--charcoal);
  font-weight: 400;
}

@media (min-width: 768px) {
  .category-column {
    width: 20vw;
  }
}

@media (min-width: 992px) {
  .category-column {
    width: 17vw;
  }
}

@media (min-width: 1200px) {
  .category-column {
    width: 15vw;
  }
}

/* ------------------------------------------------------- Itemised sections */

section:not(#budget) > table > thead > tr,
section:not(#budget) > table > tbody > tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.col-end-width {
  width: 10vw;
}

.item-col {
  width: 35vw;
}

.amount-col {
  width: 18vw;
}

.freq-col,
.date-col {
  width: 18vw;
}

.add-btn-col {
  padding: 0.45rem 0.25rem !important;
}

.add-btn {
  background-color: var(--dark-teal);
  border-color: var(--dark-teal);
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
  width: 1.5rem;
}

.add-btn:hover {
  background-color: var(--bs-orange) !important;
  border-color: var(--bs-orange);
  color: white;
  outline-color: var(--bs-orange);
}

.col-header-sortable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

th > .fa-solid:not(.fa-sort),
th > .fa-regular,
td > .fa-regular {
  padding-bottom: 0.2rem;
}

.fa-sort {
  font-size: 0.5rem;
  padding-top: 0.1rem;
}

.fa-sort,
.fa-circle,
.fa-pen-to-square {
  color: var(--dark-teal);
}

.fa-sort:hover,
.fa-circle:hover,
.fa-pen-to-square:hover,
.fa-circle-xmark {
  color: var(--bs-orange);
}

#recurring-table > tbody > tr > th,
#recurring-table > tbody > tr > td,
#oneoff-table > tbody > tr > th,
#oneoff-table > tbody > tr > td {
  height: 40px;
}

@media (min-width: 768px) {
  .col-end-width {
    width: 5vw;
  }

  .item-col {
    width: 27vw;
  }

  .amount-col {
    width: 11vw;
  }

  .freq-col {
    width: 10vw;
  }

  .cat-col {
    width: 23vw;
  }

  .date-col {
    width: 15vw;
  }

  #oneoff-table > thead > tr > th.item-col,
  #oneoff-table > tbody > tr > td.item-col {
    width: 37vw;
  }

  #income-table > thead > tr > th.freq-col,
  #income-table > thead > tr > th.amount-col,
  #income-table > tbody > tr > td.freq-col,
  #income-table > tbody > tr > td.amount-col {
    width: 15vw;
  }

  #income-table > thead > tr > th.cat-col,
  #income-table > tbody > tr > td.cat-col {
    width: 25.5vw;
  }

  .btn-group {
    margin: auto auto;
  }

  .fa-calendar-check {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }

  .date-select-btn::after {
    margin-right: 0.75rem;
  }
}

@media (min-width: 992px) {
  #income-table > thead > tr > th.item-col,
  #income-table > tbody > tr > td.item-col {
    width: 38vw;
  }

  #recurring-table > thead > tr > th.item-col,
  #recurring-table > tbody > tr > td.item-col {
    width: 27.5vw;
  }

  #oneoff-table > thead > tr > th.item-col,
  #oneoff-table > tbody > tr > td.item-col {
    width: 37.5vw;
  }

  #income-table > thead > tr > th.freq-col,
  #income-table > thead > tr > th.amount-col,
  #income-table > tbody > tr > td.freq-col,
  #income-table > tbody > tr > td.amount-col {
    width: 10vw;
  }

  .cat-col {
    width: 20vw;
  }

  .date-col {
    width: 15vw;
  }

}

@media (min-width: 1400px) {

}

/* ------------------------------------------------------- Date Dropdown */

table:not(#oneoff) > tbody > td.item-date {
  padding-top: 0.4rem;
  padding-bottom: 0.35rem;
}

.btn-sm {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.btn-outline-secondary {
  --bs-btn-color: var(--dark-teal);
  --bs-btn-border-color: none;
}

.btn-outline-secondary:hover {
  background-color: inherit;
  color: var(--bs-orange);
}

.btn.show {
  background-color: var(--bs-orange);
}

.btn.show:hover {
  color: white;
}

.dropdown-menu {
  min-width: 7rem;
}

.dropdown-item {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: rgba(237, 236, 232, 0.5) !important; /* parchment */
  color: var(--jet-black);
}

@media (min-width: 768px) {
  td.item-date {
    padding-top: 0.4rem;
    padding-bottom: 0.35rem;
  }

  .dropdown-menu {
    min-width: 8rem;
  }
}

/* ------------------------------------------------------- Settings Modal */

.modal-header,
.modal-footer {
  background-color: var(--parchment);
}

.modal-body {
  background-color: var(--white-smoke);
}

.modal-footer {
  height: 7vh;
}

.input-group-text {
  background-color: rgba(78, 89, 140, 0.14); /* Dusk Blue */
}

.form-select {
  background-color: var(--platinum);
}

.frequency-select {
  background-color: rgba(125, 130, 184, 0.1); /* Glacous */
}

.saveFormBtn {
  background-color: var(--crayola-blue);
}

.btn-secondary {
  background-color: rgba(82, 86, 105, 0.58); /* Charcoal */
  border: 1px solid rgba(82, 86, 105, 0.1); /* Charcoal */
}

.saveFormBtn:hover {
  background-color: var(--bs-orange);
  border-color: var(--bs-orange);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px !important;
  }
}

/* ------------------------------------------------------- Add Forms */

#frequencyChoiceD1,
#frequencyChoiceD2 {
  max-width: 115px;
}

.direction-select {
  width: 40px !important;
}

#categorySelect > option {
  font-size: 0.75rem;
}

.form-text {
  padding-left: 0.5rem;
}

.form-btns-parallel {
  width: 80px;
}

.input-group > .paym-direction-select {
  max-width: 80px;
}