/* ------------------------------------------------------- COLOURS */

:root {
  --brown-red: #9f1d1d;
  --green: #2e7d32;

  --success-green: #4caf50;
  --spicy-paprika: #ec4e20;

  --jet-black: #2d3142;
  --platinum: #f2f3f7;
  --white-smoke: #f5f6f4;
  --parchment: #edece8;
  --alabaster-grey: #dee2e6;

  /* plant colours */
  --faded-copper: #a07e63;
  --lime-moss: #7fb241;
  --cherry-rose: #ab1861;
  --olive-leaf: #175e0c;

  --celadon: #9ad6b8;
  --ocford-navy: #0f375e;
  --vintage-greape: #523e57;
  --baltic-blue: #255d7d;
  --charcoal: #525669;
  --dusty-grape: #525c87;
  --frosted-blue: #b1e3e3;
  --baltic-blue: #305e85;
  --frozen-water: #bfe3d1;
  --ash-grey: #96aba1;

  --velvet-orchid: #803181;
  --stormy-teal: #1c6269;
  --dark-teal: #154c51;

  --emerald-depths: #00593a;
  --frosted-mint: #daedd5;

  --dark-slate-grey: #356160;
  --dust-grey: #d9d0d4;

  --sage-green: #87a667;
  --steel-blue: #7ea0c2;
  --pearl-aqua: #7ed6d5;
  --slate-grey: #677c91;
  --pine-blue: #407372;
  --tea-green: #c6ed9f;
  --orange: #faad1e;
  --charcoal-blue: #484d63;
  --baby-blue-ice: #92c5f7;
  --silver: #b9bbbd;
  --light-blue: #97c4c4;
  --camel: #ba9d82;
  --brown: #615449;
}

/* ------------------------------------------------------- BOOTSTRAP COLOURS */
:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

/* ------------------------------------------------------- FONTS - normal */

.ibm-plex-sans-condensed-thin {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-condensed-extralight {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-condensed-light {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.ibm-plex-sans-condensed-medium {
  font-family: "IBM Plex Sans Condensed", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------------------- FONTS - italic */

.ibm-plex-sans-condensed-thin-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-condensed-extralight-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-condensed-light-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-condensed-regular-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-condensed-medium-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-condensed-semibold-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-condensed-bold-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ------------------------------------------------------- Hover.css */

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: white;
}

/* ------------------------------------------------------- General */

body {
  background-color: var(--white-smoke);
  color: var(--jet-black);
}

/* ------------------------------------------------------- NAVBAR */

.navbar-brand > img {
  margin-bottom: 1rem;
  height: 35px;
}

.nav-tabs {
  background-color: var(--parchment) !important;
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-link {
  color: var(--dark-teal) !important;
  padding-left: 0.575rem !important;
  padding-right: 0.575rem !important;
}

.nav-tabs .nav-link.active {
  background-color: white !important;
  border-color: var(--alabaster-grey) !important;
  border-bottom: white 1px solid !important;
  color: var(--velvet-orchid) !important;
}

.nav-link:hover,
.fa-gear:hover,
.nav-link.active:hover {
  color: var(--bs-orange) !important;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 1rem;
    max-height: 75px;
  }

  .navbar-brand > img {
    /*padding-bottom: 1.25rem;*/
    margin-bottom: 1.25rem;
  }
}

/* ------------------------------------------------------- Tables */

.scrollable-table {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

table {
  border-left: 1px solid var(--alabaster-grey) !important;
  border-right: 1px solid var(--alabaster-grey) !important;
  table-layout: fixed !important;
}

th,
td {
  color: var(--jet-black) !important;
  width: 16vw;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    max-width: 98.5%;
  }

  .table {
    border-top: 1px solid var(--alabaster-grey) !important;
  }

  th,
  td {
    width: 9vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 975px;
  }

  th,
  td {
    width: 7vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 97%;
  }

  th,
  td {
    width: 7vw;
  }
}

/* ------------------------------------------------------- Overview Section */

#overview > div > table > tbody > tr {
  height: 10vh;
}

.category-column {
  border-right: 2px solid var(--parchment) !important;
  font-size: 0.95rem;
  font-weight: 600;
  width: 28vw;
}

.budget-col {
  text-align: center;
  text-wrap: nowrap;
}

@media (min-width: 768px) {
  .category-column {
    width: 20vw;
  }
}

@media (min-width: 992px) {
  .category-column {
    width: 17vw;
  }
}

@media (min-width: 1200px) {
  .category-column {
    width: 15vw;
  }
}

/* ------------------------------------------------------- Itemised sections */

section:not(#overview) > table > thead > tr,
section:not(#overview) > table > tbody > tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.col-end-width {
  width: 10vw;
}

.item-col {
  width: 35vw;
}

.amount-col {
  width: 18vw;
}

.freq-col,
.date-col {
  width: 18vw;
}

.add-btn-col {
  padding: 0.45rem 0.25rem !important;
}

.add-btn {
  background-color: var(--dark-teal);
  border-color: var(--dark-teal);
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
  width: 1.5rem;
}

.add-btn:hover {
  background-color: var(--bs-orange);
  border-color: var(--bs-orange);
  color: white;
  outline-color: var(--bs-orange);
}

.col-header-sortable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

th > .fa-solid:not(.fa-sort),
th > .fa-regular,
td > .fa-regular {
  padding-bottom: 0.2rem;
}

.fa-sort {
  font-size: 0.5rem;
  padding-top: 0.1rem;
}

.fa-sort,
.fa-circle,
.fa-pen-to-square {
  color: var(--dark-teal);
}

.fa-circle-xmark {
  color: var(--bs-orange);
}

.fa-sort:hover,
.fa-circle:hover,
.fa-pen-to-square:hover {
  color: var(--bs-orange);
}

@media (min-width: 768px) {
  .col-end-width {
    width: 5vw;
  }

  .item-col {
    width: 27vw;
  }

  .amount-col {
    width: 11vw;
  }

  .freq-col {
    width: 10vw;
  }

  .cat-col {
    width: 23vw;
  }

  .date-col {
    width: 14vw;
  }

  #income-table > thead > tr > th.item-col,
  #income-table > tbody > tr > td.item-col {
    width: 30vw;
  }

  #income-table > thead > tr > th.freq-col,
  #income-table > thead > tr > th.amount-col,
  #income-table > tbody > tr > td.freq-col,
  #income-table > tbody > tr > td.amount-col {
    width: 15vw;
  }

  #income-table > thead > tr > th.cat-col,
  #income-table > tbody > tr > td.cat-col {
    width: 25.5vw;
  }

  #oneoff-table > thead > tr > th.date-col,
  #oneoff-table > tbody > tr > td.date-col {
    width: 12vw;
  }

  .btn-group {
    margin: auto auto;
  }

  .fa-calendar-check {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }

  .date-select-btn::after {
    margin-right: 0.75rem;
  }
}

@media (min-width: 992px) {
  .item-col {
    width: 42.5vw;
  }

  .freq-col,
  .amount-col,
  .date-col {
    width: 10vw;
  }

  .cat-col {
    width: 20vw;
  }
}

@media (min-width: 1200px) {
  .item-col {
    width: 44vw;
  }
}

/* ------------------------------------------------------- Date Dropdown */

table:not(#oneoff) > tbody > td.item-date {
  padding-top: 0.4rem;
  padding-bottom: 0.35rem;
}

.btn-sm {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.btn-outline-secondary {
  --bs-btn-color: var(--jet-black);
  --bs-btn-border-color: none;
}

.btn-outline-secondary:hover {
  background-color: inherit;
  color: var(--bs-orange);
}

.btn.show {
  background-color: var(--bs-orange);
}

.btn.show:hover {
  color: var(--bs-btn-hover-color);
}

.dropdown-menu {
  min-width: 7rem;
}

.dropdown-item {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--parchment);
  color: var(--jet-black);
}

@media (min-width: 768px) {
  td.item-date {
    padding-top: 0.4rem;
    padding-bottom: 0.35rem;
  }

  .dropdown-menu {
    min-width: 8rem;
  }
}

/* ------------------------------------------------------- Settings Modal */

.modal-header,
.modal-footer {
  background-color: var(--white-smoke);
}

.modal-title {
  color: var(--jet-black);
}

#frequencyChoiceD1,
#frequencyChoiceD2 {
  max-width: 115px;
}

.direction-select {
  width: 40px !important;
}

.form-text {
  padding-left: 0.5rem;
}

@media (min-width: 1200px) {
    #settingsModal.modal-dialog {
        max-width: 400px;
    }
}
