/* ------------------------------------------------------- COLOURS */

/* Add override for bootstrap link default text color

/* ------------------------------------------------------- FONTS */

.ibm-plex-sans-condensed-thin {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-condensed-extralight {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-condensed-light {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-medium {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-condensed-thin-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-condensed-extralight-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-condensed-light-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-condensed-regular-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-condensed-medium-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-condensed-semibold-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-condensed-bold-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ------------------------------------------------------- General */

body {
    background-color: #e1e2ed;
    color: #2d3142;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 400;
}

/* ------------------------------------------------------- NAVBAR */

.navbar-brand {
    font-family: "IBM Plex Sans Condensed", sans-serif !important;
    font-weight: 400 !important;
}

.navbar-brand > img {
    padding-bottom: 1.25rem;
}

.nav-link {
    color: #2d3142 !important;
    font-family: "IBM Plex Sans Condensed", sans-serif !important;
    font-weight: 500 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.nav-link:hover {
    color: #b3679b !important;
}

.nav-tabs .nav-link.active {
    background-color: #e1e2ed !important;
    border-color:  #e1e2ed !important;
    color: #b3679b !important;
}

/* ------------------------------------------------------- Tables */

.scrollable-table {
    overflow-x: scroll;
}

table {
    table-layout: fixed !important;
}

th, td {
    width: 16vw;
}

th.col-1-w {
    width: 30vw !important;
}

th.col-end-w {
    width: 10vw !important;
}

.budget-col {
    text-align: center;
    text-wrap: nowrap;
}

.table-header-column-bg-color {
    background-color: #dedbd2 !important;
}

#income-section > table > tbody > tr  {
    font-size: 0.9rem;
}